
.top_search_warp{
    width: 100%;
    height: 52px;
    position: fixed;
    top: 0;
    background-color: rgba(229,27,41,0.9);
    z-index: 99999;
    left: 0;
    opacity: 0;
    display: none;
}
.top_search{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    height: 52px;
}
.top_search_log{
    padding: 6px 0 0;
    width: 210px;
    float: left;
    overflow: hidden;
    height: 46px;
}
.top_search_main{
    float: left;
    width: 738px;
    height: 32px;
    overflow: hidden;
    background: #fff;
    font: 14px/32px "Microsoft YaHei";
    margin-top: 9px;
    padding-left: 10px;
    position: relative;
}
.top_search_main input{
    height: 32px;
    background: #fff;
    line-height: 32px;
    border: 0;
    width: 700px;
    color: #666;
    outline: none;
}
.top_search_main a{
    position: absolute;
    right: 0;
    top: 0;
    width: 32px;
    height: 32px;
    line-height: 100px;
    overflow: hidden;
    font-size: 0;
    background: url(http://img62.ddimg.cn/upload_img/00111/home/home_sprite_1511.png) no-repeat 0 -250px;
    text-decoration: none;
}
.top_search_un ul{
    padding: 9px 0 0 33px;
    float: left;
    width: 205px;
}
.top_search_un ul li{
    height: 32px;
    color: #fff;
    font: 14px/32px "Microsoft YaHei";
    overflow: hidden;
    width: 210px;
    clear: both;
}
.top_search_un ul li a{
    color: #fff;
    font: 14px/32px "Microsoft YaHei";
    white-space: nowrap;
}
/* 侧边栏 */
.fix_box{
    left: 50%;
    margin-left: -638px;
    position: fixed;
    bottom: 30px;
    z-index: 10000;
    font-family: "Microsoft Yahei";
    opacity: 0;
}
.fix_box ul{
    width: 38px;
    list-style: none;
    position: relative;
    z-index: 10;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.fix_box ul li{
    height: 40px;
    line-height: 40px;
    position: relative;
    z-index: 5;
    background-color: #f6f6f6;
    width: 38px;
    /* overflow: hidden; */
}
.fix_box ul li.on{
    width: auto;
    overflow:visible;
}
.fix_box ul li.on .f1{
    background-position: -40px 0;
    background-color: #93d46f;
}
.fix_box ul li.on .f2{
    background-position: -40px -480px;
    background-color: #f97f67;
}
.fix_box ul li.on .f3{
    background-position: -40px -520px;
    background-color: #72d599;
}
.fix_box ul li.on .f4{
    background-position: -40px -240px;
    background-color: #ff857f;
}
.fix_box ul li.on .f5{
    background-position: -40px -560px;
    background-color: #f97f67;
}
.fix_box ul li a{
    display: block;
    font-size: 14px;
    color: #fff;
    overflow: hidden;
    padding-left: 38px;
    height: 40px;
    background: url(../img/fix_box_icon_161205.png) 0 0 no-repeat;
}
.fix_box ul li a:hover{
    color: white!important;
    text-decoration: none;
}
.fix_box ul li span{
    padding: 0 15px 0 2px;
}
aside {
    float: left;
    width: 200px;
    background-color: #fafafa;
    position: relative;
    z-index: 40;
    padding: 4px 0;
    height: 480px;
}
aside>ul{
    width: 200px;
}
aside>ul li{
    height: 30px;
    padding-left: 18px;
    color: #323232;
    font: 14px/30px "Microsoft Yahei";
    position: relative;
    z-index: 1px;
    vertical-align: top;
}

aside>ul .on{
    background: #fff;
    color: #F07828;
    z-index: 10;
    margin: -2px -1px -2px 0;
    padding: 0 1px 0 16px;
    border: 2px solid #ff2832;
    border-right: 0;
}
aside>ul li.on a {
    color: #ff2832;
    font: 16px/30px "Microsoft Yahei";
}
aside>ul li a{
    color: #323232;
    font: 14px/32px "Microsoft Yahei";
}
aside>.content {
    position: absolute;
    left: 199px;
    top: 0px;
    border: 2px solid #ff2832;
    width: 979px;
    padding-left: 18px;
    overflow: hidden;
    font: 12px 'Hiragino Sans GB',"Simsun";
    background-color: #fff;
    border-top: none 0;
    min-height: 484px;
}
aside>.content .top{
    width: 979px;
    position: relative;
    overflow: hidden;
    background: #fff;
    margin-bottom: -1px;
    z-index: 999;
    width: 719px;
    padding-top: 10px;
}
aside>.content .top a{
    float: left;
    height: 20px;
    line-height: 20px!important;
    padding: 0 28px 0 8px;
    color: #fff;
    text-decoration: none;
    display: inline;
    margin: 0 10px 3px 0;
    background: #a2a2a2 url(http://img62.ddimg.cn/upload_img/00111/home/home_sprite_1511.png) no-repeat right -146px;
}
aside>.content .list_1,aside>.content .list_2{
    width: 979px;
    padding: 7px 0 5px 0;
    margin-left: 70px;
    position: relative;
    border-top: 1px dotted #d5d5d5;
    zoom: 1;
}
aside>.content .list_1 span,aside>.content .list_2 span{
    display: inline-block;
    font-size: 12px;
    height: 22px;
    line-height: 22px;
    position: absolute;
    left: -70px;
    top: 7px;
    color: #ff2832;
    font-weight: bold;
    font-family: "Microsoft Yahei";
}
aside>.content ul{
    width: 879px;
    /* padding-left: 10px; */
    overflow: hidden;
    line-height: 22px;
    margin-left: 1px;
    overflow: hidden;
}
aside>.content ul li{
    float: left;
   
}
aside>.content ul li a{
    font-family: 'Hiragino Sans GB',"Simsun";
    color: #686868;
    display: inline-block;
    padding-right: 25px;
    line-height: 22px;
    padding: 0 10px ;
}
aside>.content ul li a {
    padding: 0 10px;
    background: url(http://img62.ddimg.cn/upload_img/00111/home/home_sprite_1511.png) no-repeat left -30px;
    display: inline-block;
    margin-left: -1px;
    
}
section .inner>.content{
    float: left;
    width: 796px;
    overflow: hidden;
    border-bottom: 1px solid #e6e6e6;
    border-right: 1px solid #eaecee;
}
/* banner图 主要 */
section .inner>.content .banner_top{
    width: 796px;
    height: 326px;
    overflow: hidden;
    position: relative;
    z-index: 10;
    border-bottom: 1px solid #e6e6e6;
}
.banner_top ul {
    height: 100%;
    width: 100%;
}
.banner_top>a{
    position: absolute;
    width: 33px;
    height: 70px;
    overflow: hidden;
    background-image: url(http://img60.ddimg.cn/upload_img/00111/home/home_sprite_1507.png);
    background-repeat: no-repeat;
    background-color: #000;
    top: 122px;
    font-size: 0;
    line-height: 99px;
    cursor: pointer;
    opacity: 1;
}
.banner_top>a:nth-of-type(1){
    left: -48px;
    z-index: 10;
    background-position: 0 -70px;
}
.banner_top>a:nth-of-type(2){
    right: -48px;
    z-index: 10;
    background-position: -33px -70px;
}
.banner_top ul li{
    height: 326px;
    overflow: hidden;
    display: none;
}
.banner_top ul .show{
    display: block;
}
.banner_top ul li a{
    display: block;
    width: 796px;
    height: 326px;
}
.banner_top ul li a img{
    display: block;
    width: 796px;
    height: 326px;
}
.banner_top ol{
    position: absolute;
    left: 50%;
    bottom: 7px;
    margin-left: -51px;
    z-index: 10;
}
.banner_top ol li{
    float: left;
    width: 20px;
    height: 20px;
    font: 12px/20px Arial;
    color: #fff;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    background-color: #646464;
    margin-right: 6px;
    border-radius: 10px;
}
.banner_top ol .active{
    background-color: #ff2832;
}
/* banner 图，主要 下 */
section .inner>.content .banner_bottom{
    width: 796px;
    height: 160px;
    overflow: hidden;
    position: relative;
    
}
section .content .banner_bottom>a{
    width: 30px;
    height: 43px;
    overflow: hidden;
    line-height: 90px;
    font-size: 0;
    position: absolute;
    top: 65px;
    background-image: url(http://img60.ddimg.cn/upload_img/00111/home/home_sprite_1507.png);
    background-repeat: no-repeat;
    background-color: #000;
    z-index: 20;
    cursor: pointer;
    opacity: 0.2;
}
section .content .banner_bottom ul{
    overflow: hidden;
    position: absolute;
}
section .content .banner_bottom .banner_prev{
    background-position: 0 -83px;
    left:-46px;
}
section .content .banner_bottom .banner_next{
    background-position: -36px -83px;
    right:-46px;
}
section .content .banner_bottom li{
    width: 198px;
    height: 160px;
    overflow: hidden;
    float: left;
    border-right: 1px solid #e6e6e6;  
}
section .content .banner_bottom li a,
section .content .banner_bottom li a img{
    display: block;
    width: 198px;
    height: 160px;
    position: relative;
}
section .content .banner_bottom li .cover{
    display: block;
    width: 198px;
    height: 160px;
    background-color: #000;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.04;
}
section .inner .home_nav{
    float: left;
    width: 202px;
    border-bottom: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
}
section .inner .home_nav .top{
    display: block;
    height: 194px;
    width: 202px;
    border-top: 1px solid #e6e6e6;
}
.tap_home{
    width: 202px;
    overflow: hidden;
}
.tap_home_top{
    border-top: 1px solid #e6e6e6;
    height: 29px;
    overflow: hidden;
    width: 204px;
}
.tap_home_top .active{
    background-color: #fff;
    border-bottom: 0;
    padding-bottom: 1px;
}
.tap_home_top li{
    margin-left: -1px;
    float: left;
    width: 101px;
    border: 1px solid #e6e6e6;
    border-top: 0;
    height: 28px;
    background-color: #f0f0f0;
    cursor: default;
    font: 14px/29px "Microsoft Yahei";
    text-align: center;
    color: #646464;
    overflow: hidden;
}
.tap_home_bottom {
    width: 202px;
    height: 142px;
    position: relative;
    border-bottom: 1px solid #e6e6e6;
    overflow: hidden;
}
.tap_home_bottom>li{
    display: none;
}
.tap_home_bottom>li ul{
    height: 130px;
    width: 202px;
    overflow: hidden;
    padding-top: 6px;
}
.tap_home_bottom>li ul li{
    line-height: 25px;
    padding-left: 10px;
    width: 183px;
    height: 25px;
    background: url(http://img60.ddimg.cn/upload_img/00111/home/home_sprite_1507.png) no-repeat 10px -188px;
    overflow: hidden;
}
.tap_home_bottom>li ul li a{
    display: block;
    padding-left: 10px;
    color: #646464;
    font-family: "Microsoft Yahei";
}
.banner_home{
    width: 202px;
    height: 119px;
    position: relative;
    background: green;
    overflow: hidden;
}
.banner_home .banner_prev,.banner_home .banner_next{
    position: absolute;
    top: 41px;
    width: 30px;
    height: 43px;
    overflow: hidden;
    line-height: 90px;
    font-size: 0;
    background-image: url(http://img60.ddimg.cn/upload_img/00111/home/home_sprite_1507.png);
    background-repeat: no-repeat;
    background-color: #000;
    z-index: 20;
    cursor: pointer;
    opacity: 0.2;
}
.banner_home .banner_prev{
    background-position: 0 -83px;
    left: -30px;
}
.banner_home .banner_next{
    background-position: -36px -83px;
    right: -30px;
}
.banner_home .banner_btn{
    position: absolute;
    bottom: 10px;
    left: 50%;
    text-align: center;
    z-index: 30;
}
.banner_home .banner_btn .active{
    background-color: #ff2832;
}
.banner_home .banner_btn li{
    float: left;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background: #c8c8c8;
    overflow: hidden;
    font-size: 0;
    line-height: 24px;
    margin: 0 6px 0 0;
}
.banner_home .banner_item{
    width: 202px;
    height: 119px;
    overflow: hidden;
}
.banner_home .banner_item img{
    width: 202px;
    height: 119px;
}
.act_top{
    border-bottom: 2px solid #3c3c3c;
    padding-bottom: 10px;
}
.act_bottom{
    margin-top: 10px;
    height: 328px;
}
.act_bottom li{
    float: left;
    position: relative;
    margin-right: 12px;
    width: 234px;
    height: 328px;
}
.act_bottom li:last-child{
    width: 215px;
    margin-right: 0;
    background: #f5f5f5;
    overflow: hidden;
}
.act_bottom .p_info{
    position: absolute;;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.act_bottom .p_info .tag_t {
    text-align: center;
    font-family: "Microsoft YaHei";
    font-size: 22px;
    color: #FF4C4C;
    margin-top: 24px;
}
.act_bottom .p_info .tag_t .t_l, .p_info .tag_t .t_r {
    display: inline-block;
    width: 10px;
    height: 14px;
    vertical-align: middle;
    background: url(http://img63.ddimg.cn/upload_img/00782/home/t_l-1564392957.png) no-repeat;
}
.act_bottom .p_info .tag_t .t_l.t_r {
    background-image: url(http://img63.ddimg.cn/upload_img/00782/home/t_r-1564392988.png);
}
.act_bottom .p_info .tag_t .name {
    display: inline-block;
    vertical-align: middle;
    margin: 0 8px;
}
.act_bottom .p_info .pic_section img {
    display: block;
    width: 100%;
    height: 100%;
}
.act_bottom .p_info .pic_section {
    margin: 12px auto 0;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 8px;
}
.act_bottom .p_info .t_name {
    width: 150px;
    margin: 8px auto 0;
    font-size: 14px;
    color: #333333;
    line-height: 20px;
    height: 20px;
    overflow: hidden;
}
.act_bottom .p_info .label {
    width: 150px;
    margin: 9px auto 0;
}
.act_bottom .p_info .label .b_label {
    font-size: 12px;
    color: #FFFFFF;
    background: #FF2832;
    border-radius: 2px;
    display: inline-block;
    padding: 0 4px;
    height: 16px;
    line-height: 16px;
}
.act_bottom .p_info .price {
    width: 150px;
    margin: 0 auto;
    font-size: 22px;
    color: #FF2832;
    position: absolute;
    bottom: 30px;
    left: 42px;
}
.act_bottom .p_info .price_o {
    font-size: 12px;
    color: #999999;
    text-decoration: line-through;
    margin-left: 4px;
    font-family: "Microsoft YaHei";
}
.act_bottom .p_info .go_icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    position: absolute;
    bottom: 10px;
    right: 14px;
    background: url(http://img63.ddimg.cn/upload_img/00782/home/more-1564392920.png) no-repeat;
}
.act_bottom .p_info .pic_section img {
    display: block;
    width: 100%;
    height: 100%;
}

.seckill {
    margin: 0 auto 30px;
    height: 497px;
    overflow: hidden;
    width: 1200px;
}
.miao{
    float: left;
    width: 996px;
    overflow: hidden;
}
.head {
    height: 39px;
    border-bottom: 2px solid #3c3c3c;
    position: relative; 
}

.head .miaosha{
    float: left;
    background: url(http://img63.ddimg.cn/upload_img/00111/home/home_miaosha.png) no-repeat 83px 0;
    height: 39px;
    padding-left: 113px;
    font: 14px "Microsoft YaHei";
    position: relative;
}
.head .miaosha a{
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 83px;
    height: 39px;
    overflow: hidden;
}
.head .miaosha a img{
    display: block;
    width: 64px;
    height: 39px;
}
.head .miaosha>span{
    float: left;
    height: 24px;
    line-height: 24px;
    padding: 5px 11px 0 0;
    text-align: center;
    width: 26px;
    overflow: hidden;
}
.head .chang{
    position: absolute;
    left: 305px;
    top: 0;
}
.head li{
    width: 80px;
    text-align: center;
    height: 38px;
    float: left;
    margin-right: 50px;
}
.head li a{
    display: block;
    width: 80px;
    text-align: center;
    overflow: hidden;
    height: 38px;
    line-height: 38px;
    padding-bottom: 1px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}
.miao .content{
    border: 1px solid #e6e6e6;
    border-right: none;
    width: 995px;
    height: 454px
}
.miao .content .info{
    float: left;
    width: 198px;
    height: 227px;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    overflow: hidden;
    position: relative;
}
.miao .content .info>a{
    display: block;
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin: 10px auto 0;
}
.miao .content .info>a img{
    width: 150px;
    height: 150px;
}
.miao .content .info .pic{
    width: 150px;
    height: 150px;
}
.info .line{
    position: absolute;
    top: 160px;
    width: 150px;
    height: 8px;
    border-radius: 5px;
    background: #ffb7b7;
    left: 24px;
    line-height: 0;
    font-size: 0;
    z-index: 10;
    font-size: 12px;
}
.info .line span{
    background: #fc2c3a;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 8px;
    border-radius: 5px;
    z-index: 30;
}
.info .line .num_bg{
    background: #fe8d91;
    width: 76px;
    height: 20px;
    overflow: hidden;
    top: -7px;
    left: 38px;
    z-index: 20;
    border-radius: 10px;
}
.miao .content .info .num{
    width: 76px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 153px;
    left: 62px;
    z-index: 40;
    font-family: Arial;
    font-size: 12px;
}
.miao .content .info .name{
    width: 180px;
    overflow: hidden;
    line-height: 22px;
    height: 22px;
    margin: 0 auto;
    padding-top: 15px;
    font-size: 12px;
}
.miao .content .info .name a{
    line-height: 22px;
    font-size: 12px;
    color:#646464;
}
.miao .content .info .price {
    color: #ff2832;
    width: 180px;
    margin: 2px auto 0;
    overflow: hidden;
    line-height: 20px;
    height: 20px;
    font-family: Arial;
}
.miao .content .info .price span{
    font-size: 16px;
    margin-left: 5px;
    position: relative;
    top: 1px;
}
.miao .content .info .price .del{
    color: #969696;
    text-decoration: line-through;
    font-size: 12px;
}
.inner .firm {
    float: left;
    width: 204px;
    overflow: hidden;
    position: relative;
}
.inner .firm .firm_title{
    height: 34px;
    line-height: 34px;
    border-bottom: 2px solid #ff2832;
    position: relative;
    overflow: hidden;
    padding-top: 5px;
}
.firm .firm_title>ul{
    position: absolute;
    right: 0px;
    top: 18px;
}
.firm .firm_title>ul li{
    float: left;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background: #c8c8c8;
    overflow: hidden;
    font-size: 0;
    line-height: 24px;
    margin: 0 6px 0 0;
    cursor: pointer;
}
.firm .firm_title>ul .active{
    background-color: #ff2832;
}
.firm .firm_title>span{
    color: #ff2832;
    font: 20px "Microsoft YaHei",Simsun;
}
.firm_content{
    width: 203px;
    overflow: hidden;
    border-right: 1px solid #e6e6e6;
}
.firm_content li{
    border-bottom: 1px solid #e5e5e5;
    height: 113px;
    vertical-align: top;
    width: 203px;
}
.book_new{
    height: 499px;
    overflow: hidden;
    position: relative;
    margin: 0 auto 30px;
}
.book_new .inner .book_left_content .active{
    font-weight: bold;
    background-color: #fff;
    width: 112px;
    border: 2px solid #000;
    border-bottom: 0;
    padding: 0 0 2px 0;
    margin-bottom: -2px;
    color: #525252;
    font-weight: bold;
}
.book_left{
    position: absolute;
    display: block;
    opacity: 0;
    width: 920px;
}
.book_left_top{
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 910px;
    height: 44px;
    border-bottom: 2px solid #000;
    color: #323232;
    font: bold 20px/44px "Microsoft YaHei";
}
.book_left_top>a{
    color: #323232;
    text-decoration: none;
    cursor: pointer;
}

.book_left_content{
    position: absolute;
    display: block;
    top: 56px;
    left: 0;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    width: 910px;
    height: 441px;
}
.book_left_content>ul{
    height: 44px;
    width: 576px;
    border-right: 1px solid #e6e6e6;
    position: absolute;
    top: -57px;
    right:0;
}
.book_left_content>ul li{
    float: left;
    width: 114px;
    height: 42px;
    padding-top: 1px;
    border: 1px solid #e6e6e6;
    border-width: 1px 0 0 1px;
    text-align: center;
    background-color: #f5f5f5;
    font: 14px/42px "Microsoft YaHei";
    color: #646464;
    cursor: default;
    overflow: hidden;
}
.book_left>ul{
    position: absolute;
    bottom: 0;
    left: 1px;
    width: 237px;
    padding-left: 1px;
    background-color: #fff;
    background: url(http://img63.ddimg.cn/upload_img/00111/home/home_bg_1509.png) 0 0;
}
.book_left>ul>li{
    float: left;
    width: 63px;
    height: 28px;
    line-height: 28px;
    padding-left: 16px;
    overflow: hidden;
}
.book_left>ul li a{
    color: #323232;
    font: 12px/28px "Microsoft YaHei"
}
.book_banner {
    width: 335px;
    height: 220px;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    top: 0;
    left: 240px;
    overflow: hidden;
    position: absolute;
}
.book_left_1 {
    position: absolute;
    top: 0;
    right: 0;
    width: 334px;
    height: 220px;
    overflow: hidden;
    border-bottom: 1px solid #e6e6e6
}
.book_list{
    float: left;
    width: 166px;
    height: 220px;
    border-right: 1px solid #e6e6e6;
    position: relative;
}
.book_list img{
    width: 150px;
    height: 150px;
}
.book_list .line1>a{
    display: block;
    width: 150px;
    height: 150px;
    overflow: hidden;
    text-align: center;
    margin: 7px auto 0;
}
.book_list .line1 .name{
    height: 16px;
    line-height: 16px;
    width: 150px;
    margin: 5px auto 0;
    overflow: hidden;
}
.book_list .line1 .name a{
    color:#646464;
    font-size: 12px;
}
.book_list .line1 .price {
    width: 150px;
    margin: 3px auto 0;
}
.book_list .line1 .price .rob {
    color: #ff2832;
    font: 14px Arial;
    display: inline-block;
    margin-right: 10px;
    font-size: 14px;
}
.book_list .line1 .price .price_r {
    font: 12px Arial;
    color: #969696;
    text-decoration: line-through;
}
.book_left_warp{
    position: relative;
}
.book_left_2{
    position: absolute;
    top: 221px;
    right: 0;
    width: 668px;
    height: 220px;
    overflow: hidden;
}
.book_right{
    width: 278px;
    height: 497px;
    position: absolute;
    right: 0;
    top: 0;
    border: 1px solid #e6e6e6;
    overflow: hidden;
}
.book_right_tap {
    width: 280px;
    height: 46px;
}
.book_right_tap li {
    float: left;
    height: 46px;
    width: 139px;
    border-right: 1px solid #e6e6e6;
    text-align: center;
    color: #464646;
    font: 16px/46px "Microsoft YaHei",Simsun;
    background-color: #f5f5f5;
    cursor: default;
    border-bottom: 1px solid #e6e6e6;
}
.book_right_tap li:last-child {
    border-right: none;
}
.book_right_tap .active{
    background-color: #fff;
    border-bottom: 1px solid #fff;
}
.book_right_content {
    height: 429px;
    width: 278px;
    overflow: hidden;
    position: absolute;
    display: none;
}
.book_right_content .line1{
    height: 32px;
    line-height: 32px;
    border-bottom: 1px solid #e5e5e5;
    width: 278px;
    clear: both;
    vertical-align: top;
    font-size: 12px;
}
.book_right_content .line2{
    display: none;
    overflow: hidden;
}
.book_right_content .num{
    float: left;
    width: 25px;
    height: 33px;
    font: 12px/33px Arial;
    padding-left: 15px;
    background: #fff;
    margin-bottom: -1px;
    overflow: hidden;
}
.book_right_content .img{
    width: 90px;
    height: 90px;
    overflow: hidden;
    float: left;
    margin: 15px 0 0;
}
.book_right_content .img img{
    width: 90px;
    height: 90px;
}
.book_right_content .line1:nth-of-type(1) span{
    color: #ff3228;
    font-weight: bold;
}
.book_right_content .line1:nth-of-type(2) span,.book_right_content .line1:nth-of-type(3) span{
    color: #ff3228;
}
.book_right_content .name {
    float: left;
    width: 140px;
    height: 32px;
    line-height: 32px;
    overflow: hidden;
}
.book_right_content .name a{
    color:#646464;
}
.book_right_content li.item .name {
    height: 100px;
    margin: 15px 0 0 5px;
    font-size: 12px;
}
.book_right_content li.item .name a {
    display: block;
    line-height: 20px;
}
.book_right_content li.item .name a span {
    display: block;
    color: #969696;
}
.floor{
    width: 1200px;
    height: 655px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    padding-bottom: 20px;
}
.floor_warp{
    position: absolute;
    display: block;
    opacity: 0;
}
.floor .book_left_top_floor{
    height: 44px;
    width: 1200px;
    border-bottom: 2px solid #000;
    position: absolute;
    top: 0;
    left: 0;
    font: bold 20px/44px "Microsoft YaHei";
    color: #323232;
}

.book_banner_floor {
    height: 340px;
    width: 383px;
    border: 1px solid #e6e6e6;
    border-width: 1px 1px 1px 0;
    overflow: hidden;
    background: red;
    position: relative;
}
.floor_left {
    height: 521px;
    width: 238px;
    border: 1px solid #e6e6e6;
    position: absolute;
    top: 56px;
    left: 0;
    display: block;
    overflow: hidden;
    opacity: 1;
    /* text-align: center; */
}
.floor_content{
    position: absolute;
    top: 56px;
    right: 0;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    width: 960px;
    height: 521px;
}
.floor_content>ul{
    height: 44px;
    width: 576px;
    border-right: 1px solid #e6e6e6;
    position: absolute;
    top: -57px;
    right:0;
}
.floor_content>ul li{
    float: left;
    width: 114px;
    height: 42px;
    padding-top: 1px;
    border: 1px solid #e6e6e6;
    border-width: 1px 0 0 1px;
    text-align: center;
    background-color: #f5f5f5;
    font: 14px/42px "Microsoft YaHei";
    color: #646464;
    cursor: default;
    overflow: hidden;
    
}
.floor_content>ul .active{
    font-weight: bold;
    background-color: #fff;
    width: 112px;
    border: 2px solid #000;
    border-bottom: 0;
    padding: 0 0 2px 0;
    margin-bottom: -2px;
    color: #525252;
    font-weight: bold;
}
.floor_content_1{
    height: 340px;
    width: 576px;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 383px;
    border: 1px solid #e6e6e6;
    border-width: 1px 0;
}
.floor_content_1>a{
    width: 191px;
    height: 340px;
    border-right: 1px solid #e6e6e6;
    float: left;
    overflow: hidden;
}
.floor_content_2 {
    width: 960px;
    position: absolute;
    left:0px;
    top: 342px;
    border-bottom: 1px solid #e6e6e6;
    height: 180px;
    overflow: hidden;
}
.floor_content_2>a{
    float: left;
    width: 191px;
    border-right: 1px solid #e6e6e6;
    height: 180px;
    overflow: hidden;
    text-align: center;
}
.floor_bottom {
    top: 577px;
    width: 1198px;
    height: 55px;
    position: absolute;
    left: 0;
    border: 1px solid #e6e6e6;
    border-top: 0;
}
.floor_bottom_warp li{
    width: 110px;
    height: 50px;
    padding: 3px 4px 2px 5px;
    float: left;
    overflow: hidden;
}
.floor_bottom>a{
    width: 30px;
    height: 43px;
    overflow: hidden;
    line-height: 90px;
    font-size: 0;
    position: absolute;
    top: 7px;
    background-image: url(http://img60.ddimg.cn/upload_img/00111/home/home_sprite_1507.png);
    background-repeat: no-repeat;
    background-color: #000;
    z-index: 20;
    cursor: pointer;
    opacity: 0.2;
}
.floor_bottom  ul{
    position: absolute;
    overflow: hidden;
}
.floor_bottom .banner_prev{
    background-position: 0 -83px;
    left:-46px;
}
.floor_bottom .banner_next{
    background-position: -36px -83px;
    right:-46px;
}
.mod{
    width: 1200px;
    margin: 0 auto 20px;
    height: 448px;
}
.mod_top{
    height: 40px;
    font: bold 20px/24px "Microsoft YaHei";
    color: #323232;
}
.mod_middle{
    border: 1px solid #e6e6e6;
    border-width: 1px 0 0 1px;
    position: relative;
    width: 1199px;
    height: 342px;}
.mod_bottom{
    height: 64px;
    border: 1px solid #e6e6e6;
    border-top: 0;
    overflow: hidden;
    background-color: #f7f7f7;
    position: relative;
}
.mod_top_title{
    float: left;
    margin: 9px 0 7px;
    padding: 0 20px 0 6px;
    font: bold 20px/24px "Microsoft YaHei";
    border-right: 1px solid #b7b7b7;
    background: #fff;
    color: #323232;
}
.mod_top_ul{
    float: left;
    height: 40px;
    overflow: hidden;
}
.mod_top_ul>li{
    float: left;
    padding: 0 30px;
    margin: 13px 0 0 -13px;
    background: url(http://img63.ddimg.cn/upload_img/00111/home/title_bg.png) no-repeat left 3px;
    font: 16px/20px "Microsoft YaHei";
}
.mod_top_ul>li a{
    font: bold 16px/20px "Microsoft YaHei";
    text-decoration: none;
    color: #323232;
}
.mod_top_ul>li a>span{
    font: 14px/20px "Microsoft YaHei";
    padding-left: 5px;
    color: #323232;
}
.mod_middle_left{
    position: absolute;
    top: 0;
    overflow: hidden;
    left: 0;
    width: 400px;
}
.mod_middle_left>a{
    float: left;
    width: 199px;
    height: 170px;
    overflow: hidden;
    border: 1px solid #e6e6e6;
    border-width: 0 1px 1px 0;
}
.mod_middle_left>a img{
    width: 199px;
    height: 170px;
}
.mod_middle_middle{
    left: 400px;
   position: absolute;
    top: 0;
    overflow: hidden;
}
.mod_middle_middle>a{
    float: left;
    display: block;
    width: 398px;
    height: 341px;
}
.mod_middle_right{
    left: 799px;
    width: 400px;
   position: absolute;
    top: 0;
    overflow: hidden;
}
.mod_bottom>ul{
    width: 1179px;
    overflow: hidden;
    margin: 10px auto 0;
}
.mod_bottom>ul li{
    float: left;
    width: 117px;
    height: 44px;
    margin-left: -1px;
    border-left: 1px dashed #dfdfdf;
}
.mod_bottom>ul li a{
    display: block;
    width: 109px;
    height: 44px;
    margin-left: 4px;
    overflow: hidden;
}
.mtype_1{
    height: 142px;
    width: 1210px;
    overflow: hidden;
}
.mtype_1>a{
    float: left;
    width: 230px;
    height: 140px;
    border: 1px solid #e6e6e6;
    margin-right: 10px;
    overflow: hidden;
}
.mtype_2>a{
    float: left;
    width: 220px;
    height: 194px;
    border: 1px solid #e6e6e6;
    border-width: 0 1px 1px 0;
}
.mtype_2_middle{
    width: 314px;
    height: 389px;
    border: 1px solid #e6e6e6;
    border-width: 0 1px 1px 0;
    overflow: hidden;
}
.book_muen{
    width: 1200px;
    margin: 0 auto 30px;
}
.book_muen_title{
    height: 34px;
    color: #ff2832;
    font: bold 20px "Microsoft YaHei";
    border-bottom: 2px solid #ff3228;
    padding-left: 5px;
}
.book_muen_title>span{
    color: #ff2832;
    font: bold 20px "Microsoft YaHei";
}
.book_muen_content {
    border: 1px solid #e6e6e6;
    width: 1198px;
    margin: 10px auto 0;
    overflow: hidden;
    padding: 10px 0 15px;
    background: url(http://img63.ddimg.cn/upload_img/00111/gg/guanggao02.png) no-repeat right bottom;
}
.book_muen_content>ul{
    padding-left: 5px;
    width: 1188px;
    font-size: 12px;
}
.book_muen_content>ul li{
    float: left;
    width: 190px;
    height: 258px;
    padding: 4px 3px 7px;
    border: 1px solid #fff;
}
.book_muen_content>ul li>a{
    position: relative;
    display: block;
    width: 190px;
    height: 190px;
    overflow: hidden;
    margin: 0 auto;
}
.book_muen_content>ul li>a img{
    width: 190px;
    height: 190px;
}
.book_muen_content>ul .hover{
    position: relative;
    box-shadow: 0 0 4px #ddd;
    border:1px solid #efefef;
}
.book_muen_content>ul .name{
    width: 190px;
    height: 32px;
    line-height: 16px;
    padding: 8px 0 0;
    margin-bottom: 5px;
    overflow: hidden;
}
.book_muen_content>ul .price{
    font: 18px Arial;
    color: #ff2832;
    position: relative;
}
.book_muen_content>ul .price_o{
    position: absolute;
    right: 5px;
    bottom: 2px;
    font: 12px Arial;
    padding: 4px 0 0 0;
    color: #787878;
}

/* banner图type2 */
.banner_type_2_btn{
    position: absolute;
    bottom: 6px;
    left: 50%;
    z-index: 666;
}
.banner_type_2_btn li{
    float: left;
    width: 10px;
    height: 3px;
    margin-right: 4px;
    font-size: 0;
    line-height: 9px;
    overflow: hidden;
    background: #fff;
}
.banner_type_2_btn .on{
    background: #5e5e5e;
}
.banner_type_2_left,.banner_type_2_right{
    position: absolute;
    width: 30px;
    height: 43px;
    background-image: url(http://img60.ddimg.cn/upload_img/00111/home/home_sprite_1507.png);
    background-repeat: no-repeat;
    background-color: #000;
    z-index: 20;
    cursor: pointer;
    opacity: 0.2;
    top: 75px;
}
.banner_type_2_left{
    left: -30px;
    background-position: 0px -83px;
}
.banner_type_2_right{
    right: -30px;
    background-position: -36px -83px;
}
.sp{
    display: block;
}
.zz{
    display: none;
}